In [1]:
import requests
import json
import csv
import numpy as np
import pandas as pd

In [2]:
tests_day_wise = pd.read_csv('https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv')

tests_day_wise.to_csv('./test_data/test_data/tests_day_wise.csv', index=False)

tests_day_wise.drop(columns=tests_day_wise.columns[3:],axis=1,inplace=True)
tests_day_wise.drop(columns=tests_day_wise.columns[1],axis=1,inplace=True)

tests_day_wise = tests_day_wise.fillna(0)

# tests_day_wise.columns

tests_day_wise["Total Samples Tested"] = tests_day_wise["Total Samples Tested"].astype(int)

tests_day_wise.columns = ["Date","Total Tested"]

tests_day_wise["Date"] = tests_day_wise["Date"].apply(lambda x:x.split()[0])

tests_day_wise.tail(10)

           Date  Total Tested
110  29/06/2020       8398362
111  30/06/2020       8608654
112  01/07/2020       8826585
113  02/07/2020       9056173
114  03/07/2020       9297749
115  04/07/2020       9540132
116  05/07/2020       9789066
117  06/07/2020       9969662
118  07/07/2020      10211092
119  08/07/2020      10473771

In [3]:
tests_state_wise = pd.read_csv('https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')

tests_state_wise.to_csv('./data/tests_state_wise.csv', index=False)

tests_state_wise.drop(columns=['Tag (Total Tested)','Tag (People in Quarantine)','Corona Enquiry Calls', 'Num Calls State Helpline', 'Source1',
        'Source2', 'Population NCP 2019 Projection','Cumulative People In Quarantine',
       'Total People Currently in Quarantine',
       'Total People Released From Quarantine', 'People in ICU',
       'People on Ventilators', 'Num Isolation Beds', 'Num ICU Beds',
       'Num Ventilators', 'Total PPE', 'Total N95 Masks'],axis=1,inplace=True)

if "Unma,e"

tests_state_wise = tests_state_wise.fillna("Not Available")
tests_state_wise = tests_state_wise[tests_state_wise["Total Tested"]!="Not Available"]
tests_state_wise = tests_state_wise.reset_index(drop=True)
tests_state_wise

,Updated On,State,Total Tested,Positive,Negative,Unconfirmed,Unnamed: 22,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case
0,17/04/2020,Andaman and Nicobar Islands,1403,12,1210,181,Not Available,0.86%,3.53,3534,117
1,24/04/2020,Andaman and Nicobar Islands,2679,27,Not Available,246,Not Available,1.01%,6.75,6748,99
2,27/04/2020,Andaman and Nicobar Islands,2848,33,Not Available,106,Not Available,1.16%,7.17,7174,86
3,01/05/2020,Andaman and Nicobar Islands,3754,33,Not Available,199,Not Available,0.88%,9.46,9456,114
4,16/05/2020,Andaman and Nicobar Islands,6677,33,Not Available,136,Not Available,0.49%,16.82,16819,202
...,...,...,...,...,...,...,...,...,...,...,...
2848,03/07/2020,West Bengal,519054,20488,Not Available,Not Available,Not Available,3.95%,5.36,5356,25
2849,04/07/2020,West Bengal,530072,21231,Not Available,Not Available,Not Available,4.01%,5.47,5470,25
2850,05/07/2020,West Bengal,541088,22126,Not Available,Not Available,Not Available,4.09%,5.58,5584,24
2851,06/07/2020,West Bengal,552007,22987,Not Available,Not Available,Not Available,4.16%,5.7,5696,24
2852,07/07/2020,West Bengal,562137,23837,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available

In [4]:
grp = tests_state_wise.groupby("State")
for i in tests_state_wise["State"].unique():
    group = grp.get_group(i)
    group.drop(columns="State",axis=1,inplace=True)
    group.to_csv('./test_data/state_test_data/'+i+'.csv',index=False)

C:\Users\aditya meta\Ana\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [5]:
states = pd.read_csv('./test_data/state_test_data/Karnataka.csv')
states

,Updated On,Total Tested,Positive,Negative,Unconfirmed,Unnamed: 22,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case
0,03/04/2020,4587.0,128.0,4281,178.0,Not Available,2.79%,0.07,70.0,36.0
1,07/04/2020,6580.0,175.0,5942,Not Available,Not Available,2.66%,0.1,100.0,38.0
2,08/04/2020,6967.0,181.0,6473,Not Available,Not Available,2.60%,0.11,106.0,38.0
3,09/04/2020,7613.0,197.0,7176,Not Available,Not Available,2.59%,0.12,116.0,39.0
4,10/04/2020,7975.0,207.0,7673,Not Available,Not Available,2.60%,0.12,121.0,39.0
...,...,...,...,...,...,...,...,...,...,...
88,03/07/2020,671934.0,19710.0,635582,Not Available,https://twitter.com/DHFWKA,2.93%,10.21,10212.0,34.0
89,04/07/2020,689526.0,21549.0,650876,Not Available,https://twitter.com/DHFWKA,3.13%,10.48,10479.0,32.0
90,05/07/2020,706425.0,23474.0,665525,Not Available,https://twitter.com/DHFWKA,3.32%,10.74,10736.0,30.0
91,06/07/2020,722305.0,25317.0,679267,Not Available,https://karunadu.karnataka.gov.in/hfw/kannada/...,3.51%,10.98,10978.0,29.0
92,07/07/2020,740047.0,26815.0,694816,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available

In [6]:
# states.drop(columns=["Unname:22","Tests per thousand",'Tests per million'])
tests_per_day = [states["Total Tested"][0]]
tests_per_day

[4587.0]

In [7]:
for i in range(1,len(states["Total Tested"])-1):
    tests_per_day.append(states["Total Tested"][i+1]-states["Total Tested"][i])

In [8]:
tests_per_day

[4587.0,
 387.0,
 646.0,
 362.0,
 585.0,
 691.0,
 766.0,
 1090.0,
 1376.0,
 1241.0,
 3870.0,
 1592.0,
 2181.0,
 2093.0,
 2773.0,
 3279.0,
 2610.0,
 3836.0,
 3125.0,
 3881.0,
 2721.0,
 4827.0,
 4892.0,
 4752.0,
 4742.0,
 4832.0,
 5168.0,
 4295.0,
 4613.0,
 4971.0,
 4758.0,
 4546.0,
 5017.0,
 4213.0,
 4284.0,
 4938.0,
 4645.0,
 7195.0,
 5351.0,
 6300.0,
 5374.0,
 6265.0,
 6936.0,
 8182.0,
 7516.0,
 12229.0,
 9670.0,
 10117.0,
 13581.0,
 9020.0,
 12694.0,
 10470.0,
 12411.0,
 15728.0,
 13358.0,
 11241.0,
 14812.0,
 15197.0,
 12268.0,
 13627.0,
 11862.0,
 11860.0,
 8779.0,
 7036.0,
 8249.0,
 8000.0,
 9835.0,
 10177.0,
 7451.0,
 5362.0,
 7936.0,
 7531.0,
 8709.0,
 10553.0,
 9833.0,
 12872.0,
 9204.0,
 10569.0,
 12709.0,
 14078.0,
 14733.0,
 13577.0,
 13835.0,
 9689.0,
 15588.0,
 16670.0,
 16210.0,
 18307.0,
 17592.0,
 16899.0,
 15880.0,
 17742.0]