In [36]:
import requests
import json
import csv
import numpy as np
import pandas as pd

In [51]:
tests_day_wise = pd.read_csv('https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv')

tests_day_wise.to_csv('/home/adi/Desktop/CODS-NLP-ML-Team/covid-19-india-data/test_data/test_data/tests_day_wise.csv', index=False)

tests_day_wise.drop(columns=['Tests conducted by Private Labs',
       'Sample Reported today','Positive cases from samples reported','Source','Unnamed: 8','Total Individuals Tested','Total Positive Cases','Test positivity rate','Individuals Tested Per Confirmed Case','Tests Per Confirmed Case','Tests per million'],axis=1,inplace=True)

tests_day_wise = tests_day_wise.fillna(0)

tests_day_wise["Total Samples Tested"] = tests_day_wise["Total Samples Tested"].astype(int)

tests_day_wise.columns = ["Date","Total Tested"]

tests_day_wise["Date"] = tests_day_wise["Date"].apply(lambda x:x.split()[0])

tests_day_wise.sample(10)

          Date  Total Tested
68  18/05/2020       2302792
62  12/05/2020       1759579
80  30/05/2020       3611599
9   22/03/2020         18127
49  29/04/2020        770764
81  31/05/2020       3737027
85  04/06/2020       4242718
41  21/04/2020        462621
51  01/05/2020        902654
15  25/03/2020         25144

In [52]:
tests_state_wise = pd.read_csv('https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')

tests_state_wise.to_csv('/home/adi/Desktop/CODS-NLP-ML-Team/covid-19-india-data/data/tests_state_wise.csv', index=False)

tests_state_wise.drop(columns=['Tag (Total Tested)','Tag (People in Quarantine)','Corona Enquiry Calls', 'Num Calls State Helpline', 'Source1',
       'Unnamed: 21', 'Source2', 'Unnamed: 23','Population NCP 2019 Projection','Cumulative People In Quarantine',
       'Total People Currently in Quarantine',
       'Total People Released From Quarantine', 'People in ICU',
       'People on Ventilators', 'Num Isolation Beds', 'Num ICU Beds',
       'Num Ventilators', 'Total PPE', 'Total N95 Masks'],axis=1,inplace=True)

tests_state_wise = tests_state_wise.fillna("Not Available")
tests_state_wise = tests_state_wise[tests_state_wise["Total Tested"]!="Not Available"]
tests_state_wise = tests_state_wise.reset_index(drop=True)
tests_state_wise

,Updated On,State,Total Tested,Positive,Negative,Unconfirmed,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case
0,17/04/2020,Andaman and Nicobar Islands,1403,12,1210,181,0.86%,3.53,3534,117
1,24/04/2020,Andaman and Nicobar Islands,2679,27,Not Available,246,1.01%,6.75,6748,99
2,27/04/2020,Andaman and Nicobar Islands,2848,33,Not Available,106,1.16%,7.17,7174,86
3,01/05/2020,Andaman and Nicobar Islands,3754,33,Not Available,199,0.88%,9.46,9456,114
4,16/05/2020,Andaman and Nicobar Islands,6677,33,Not Available,136,0.49%,16.82,16819,202
...,...,...,...,...,...,...,...,...,...,...
2286,17/06/2020,West Bengal,360976,12300,Not Available,Not Available,3.41%,3.73,3725,29
2287,18/06/2020,West Bengal,370291,12735,Not Available,Not Available,3.44%,3.82,3821,29
2288,19/06/2020,West Bengal,380612,13090,Not Available,Not Available,3.44%,3.93,3928,29
2289,20/06/2020,West Bengal,390942,13531,Not Available,Not Available,3.46%,4.03,4034,29
2290,21/06/2020,West Bengal,401491,13945,Not Available,Not Available,3.47%,4.14,4143,29

In [54]:
grp = tests_state_wise.groupby("State")
for i in tests_state_wise["State"].unique():
    group = grp.get_group(i)
    group.drop(columns="State",axis=1,inplace=True)
    group.to_csv('/home/adi/Desktop/CODS-NLP-ML-Team/covid-19-india-data/test_data/state_test_data/'+i+'.csv',index=False)